* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;

  min-width: 320px;

  font-family:
    "Gill Sans",
    "Gill Sans MT",
    Calibri,
    "Trebuchet MS",
    sans-serif;

  background-color: #3f3f3f;

  color: aliceblue;
}


/* КРАСИВОЕ ВЫДЕЛЕНИЕ ТЕКСТА */

::selection {
  background-color: #ccf900;
  color: #202020;
  text-shadow: none;
}

::-moz-selection {
  background-color: #ccf900;
  color: #202020;
  text-shadow: none;
}


button,
input {
  font: inherit;
}